#a-narrow-practice {
  svg path.county {
    stroke: #231f20;
    stroke-width: 0.25px; }
  svg path.state {
    fill: transparent;
    pointer-events: none;
    stroke: #231f20;
    stroke-width: 1px; }

  .inspector {
    position: absolute;
    width: 200px;
    height: 44px; }
    .inspector li {
      color: white;
      font-size: 13px;
      line-height: 22px;
      font-family: "Source Sans Pro Extra Light";
      font-weight: 400;
      list-style: none;
      text-align: center;
      text-transform: uppercase;
      height: 22px; }

  table.legend {
    position: absolute;
    top: 44px;
    left: 22px;
    width: 222px;
    z-index: 2;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -ms-filter: blur(15px);
    -o-filter: blur(15px);
    filter: blur(15px);
    tr {
      height: 22px;
      td.colorblock {
        padding-left: 0;
        width: 22px;
        height: 22px;
      }
      td {
        color: #d2bbc0;
        font-family: "Source Sans Pro Extra Light";
        font-size: 11px;
        line-height: 22px;
        padding-left: 22px;
        text-transform: uppercase;
        width: 178px;
        height: 22px;
      }
    }
  }
  &.active {
    table.legend {
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      -o-filter: none;
      filter: none;
    }
  }
}