.words-overlay {
  background-color: rgba(255,255,255,.75);
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  &.active {
    top: 0;
  }
  .words {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 44px;
    width: 100%;
    height: 100%;
    .statement {
      padding-top: 44px;
      max-width: 600px;
      width: 90%;
    }
    h1 {
      color: $color6;
      font-size: $headerheight;
      margin-bottom: $headerheight;
      padding-top: 44px;
      text-transform: uppercase;
    }
    br {
      height: 33px;
    }
    p {
      color: $color1;
      margin-bottom: 0;
      padding-bottom: 88px;
      width: 100%;
    }
  }
}
#last-words {
  svg {
    g.bubble-wrapper {
      cursor: pointer;
      circle {
        fill: $color2;
        transition: all 500ms;
      }
      &.active,
      &:hover {
        circle {
          fill: $color6;
        }
        &.parent {
          circle {
            fill: none;
          }
        }
      }
      text {
        fill: $color7;
        font-family: "Source Sans Pro Extra Light";
        font-weight: 400;
        letter-spacing: 1px;
        text-anchor: middle;
        text-transform: uppercase;
      }
      &.parent {
        circle {
          fill: none;
        }
        circle:hover {
          fill: none;
        }
      }
    }
  }
}
@media all and (max-width: 640px) {
  .words-overlay {
    .words {
      margin-left: $headerheight * (1 / 4);
    }
  }
  #last-words-interlude {
    svg {
      text {
        letter-spacing: 0px;
      }
    }  
  }
}
