@import "variables";
@import "reset";
@import "header";
@import "overlay";
@import "last-words";
@import "a-narrow-practice";
@import "how-we-kill";
@import "essay";

body {
  background-color: $color1;  
}

#main-content {
  opacity: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color, opacity 1s;
  transition: background-color, opacity 1s;
  -webkit-overflow-scrolling: touch;
  &.blur {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -ms-filter: blur(15px);
    -o-filter: blur(15px);
    filter: blur(15px);
  }
}

ul#names-wrapper {
  overflow: hidden;
  position: absolute;
  top: 44px;
  left: -10%;
  width: 120%;
  height: 110%;
  &.inactive {
    display: none;
  }
  li.name {
    color: $color2;
    display: block;
    float: left;
    font-family: "Source Sans Pro Extra Light";
    font-size: $headerheight / 2;
    line-height: $headerheight / 2;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: $headerheight / 2;
    opacity: 0.5;
    position: relative;
    text-transform: uppercase;
    width: auto;
    height: $headerheight / 2;
  }
}


.interlude {
  clear: both;
  position: relative;
  opacity: 1;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  .x {
    display: none;
    top: $headerheight;
    right: $headerheight;
    z-index: 2;
  }
  .pane {
    z-index: 1;
  }
  .interactive {
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  &.active {
    .x {
      display: block;
    }
    .interactive {
      opacity: 1;     
    }
    .pane {
      opacity: 0;
      z-index: 0;
    }
  }
}

#welcome-panes {
  overflow: hidden;
  width: 100%;
  &.inactive {
    display: none;
  }
}

#primary-nav {
  ul {
    margin-left: $headerheight;
    li {
      color: inherit;
      cursor: pointer;
      display: block;
      float: left;
      list-style: none;
      margin-right: $headerheight;
      position: relative;
      text-decoration: none;
      width: 320px;
      height: #{320 + 88 + 88}px;
      &.a-narrow-practice {
        .interlude-image {
          background-image: url('../images/a-narrow-practice.jpg');
          &:hover { background-image: url('../images/a-narrow-practice.gif'); }
        }
      }
      &.last-words {
        .interlude-image {
          background-image: url('../images/last-words.jpg');
          &:hover { background-image: url('../images/last-words.gif'); }
        }
      }
      &.gary-gilmore {
        .interlude-image {
          background-image: url('../images/gary-gilmore.jpg');
          &:hover { background-image: url('../images/gary-gilmore.gif'); }
        }
      }
      &.velma-barfield {
        .interlude-image {
          background-image: url('../images/gary-gilmore.jpg');
          &:hover { background-image: url('../images/gary-gilmore.gif'); }
        }
      }
      &.how-we-kill {
        .interlude-image {
          background-image: url('../images/how-we-kill.jpg');
          &:hover { background-image: url('../images/how-we-kill.gif'); }
        }
      }
      &:hover {
        .content {
          opacity: 1;  
        }
      }
      &.inactive {
        display: none;
      }  
      .interlude-image {
        background-size: 100% 100%;
        width: 320px;
        height: 320px;
      }
      h1 {
        line-height: $headerheight;
        margin: 11px 22px;
        text-align: center;
        height: 88px;
      }
      p {
        margin: 11px 11px;
        text-align: center;
      }
      .content {
        background-color: rgba(0,0,0,.5);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        opacity: 0.5;
        padding: $headerheight / 2;
        text-align: center;
        -webkit-transition: opacity 200ms;
        -moz-transition: opacity 200ms;
        -ms-transition: opacity 200ms;
        -o-transition: opacity 200ms;
        transition: opacity 200ms;
        width: 100%;
        height: 100%;
      }
    }
  }
}


.view-section { display: none; }


.pane,
.faux-pane {
  clear: both;
  display: block;
  position: relative;
  width: 100%;
  &.narration {
    -webkit-transition: all 200ms;
    transition: all 200ms;
    z-index: 1;
    .cta {
      border: 1px solid $color6;
      color: $color6;
      font-family: "Source Sans Pro Extra Light";
      font-size: 11px;
      position: absolute;
      bottom: 88px;
      left: 44px;
      text-transform: uppercase;
      width: 132px;
      height: 44px;
    }
    h1, h2, h3 {
      margin-left: $headerheight;
      position: absolute;
    }
    h2.byline {
      color: $color2;
      font-family: "Source Sans Pro Black";
      font-size: $headerheight * (1/3);
      top: auto;
      bottom: $headerheight;
    }
    p {
      color: $color3;
      font-family: "Source Sans Pro Black";
      font-size: $headerheight * (3/4);
      line-height: $headerheight;
      margin-top: 100px;
      margin-left: $headerheight;
      width: 800px;
      a {
        color: inherit;
        text-decoration: underline;
      }
    }
    h1.title {
      font-size: $headerheight * 2;
      top: $headerheight * 2;
      &.project-title {
        color: transparent;
        line-height: 100%;
        letter-spacing: 0;
        margin-top: -(($headerheight * 2) + ($headerheight / 2));
        top: 50%;
        text-align: left;
        text-shadow: 0px 0px 0px $color3;
        width: 100%;
      }
    }
    h2.subtitle {
      color: $color2;
      font-family: "Source Sans Pro Extra Light";
      font-size: $headerheight / 2;
      position: absolute;
      top: $headerheight;
      &.project-subtitle {
        color: $color6;
        margin-top: $headerheight * 2;
        top: 50%;
      }
    }
    h3.kicker {
      color: $color6;
      font-size: $headerheight * (1 / 3);
      position: absolute;
      top: $headerheight;
    }
    header {
      padding-top: $headerheight * 2;
      position: relative;
      h1.title,
      h2.subtitle,
      h3.kicker {
        position: static;
      }
    }
  }
}

@media all and (max-width: 900px) {
  .pane {
    &.narration {
       p  {
        max-width: 800px;
        width: 90%;
      } 
    }
  }
}

@media all and (max-width: 772px) {
  #primary-nav {
    ul {
      margin-left: 0;
      li {
        float: none;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

@media all and (max-width: 640px) {
  .interlude {
    .x {
      right: $headerheight / 4;
    }
  }
  ul#names-wrapper {
    li.name {
      font-size: $headerheight / 4;
      line-height: $headerheight / 4;
      margin-right: $headerheight / 4;
      height: $headerheight / 4;
    }
  }
  .pane {
    &.narration {
      .cta {
        bottom: $headerheight / 2;
        left: $headerheight / 4;
      }
      h1, h2, h3, p {
        margin-left: $headerheight / 4;
      }
      h1.title {
        font-size: $headerheight;
        &.project-title {
          margin-top: $headerheight;
          top: $headerheight * 2;
          width: 100%;
        }
      }
      h2.subtitle {
        font-size: $headerheight * (1 / 3);
        &.project-subtitle {
          top: $headerheight * 4;
        }
      }
      h2.byline {
        font-size: $headerheight * (1/3);
      }
      p {
        font-size: $headerheight * (1 / 3);
        line-height: $headerheight * (2 / 3);
        margin-top: 50px;
        padding-right: 11px;
        width: auto;
      }
    }
  }
  #primary-nav {
    ul {
      margin-left: 0;
      li {
        float: none;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}
