<!DOCTYPE html>
<html>
  <head>
    <title>Knock at the Gates | Etc. Gallery</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/fonts.css" type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div id="dab">

      <!-- The Overlays -->
      <div id="overlays">
        <button class="x"></button>
        <article id="about-overlay" class="overlay">
          <header class="overlay-header">
            <h1>about the project</h1>
          </header>
          <section>
            <p>Nullam ut ipsum interdum, convallis ex ut, pulvinar risus. Proin arcu turpis, interdum et dapibus ac, malesuada in urna. Maecenas viverra velit vel nibh rutrum, at cursus ex ornare. Vestibulum blandit dapibus ante, sed malesuada eros ullamcorper interdum. Donec ut rutrum enim. Aenean tristique ex eget lectus euismod rutrum. Fusce sed mi sit amet nunc aliquam tincidunt eget a enim. Vestibulum egestas in lectus in interdum. Aenean dictum consequat ultrices. Sed vitae erat ac augue malesuada viverra ac at justo. In hac habitasse platea dictumst. Quisque sapien odio, pulvinar sed augue facilisis, pharetra molestie lorem. Aliquam vestibulum pulvinar quam. Praesent venenatis lacus at viverra gravida. Proin eu imperdiet quam. Nam arcu lorem, porttitor at laoreet sed, ornare sit amet erat.</p>
          </section>
        </article>
        <article id="biography-overlay" class="overlay">
          <header class="overlay-header">
            <h1>about us</h1>
          </header>
          <section>
            <div class="person">
              <h3>galen beebe</h3>
              <h4>senior editor</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla risus at ipsum suscipit pharetra. Integer sem dolor, porttitor a viverra eu, facilisis non nunc. Suspendisse cursus arcu sit amet fringilla ultricies. Sed ornare faucibus orci, id fringilla tortor congue sit amet. Donec ante nisi, aliquam vel vulputate sit amet, sollicitudin a nulla. Duis sodales dictum mi tincidunt ullamcorper. Etiam enim ipsum, rhoncus facilisis turpis ac, efficitur sodales metus. In vel odio justo.</p>
            </div>
            <div>
              <h3>gabe isman</h3>
              <h4>engineering editor</h4>
              <p>Cras scelerisque semper urna, in suscipit risus fringilla eget. Nulla nec congue nunc. Vivamus id metus tempus, bibendum dui vitae, venenatis erat. Integer finibus libero sit amet commodo finibus. Aliquam erat volutpat. Mauris quis vehicula justo. Mauris varius semper urna, vel sagittis purus suscipit id. Mauris volutpat orci ut enim feugiat accumsan.</p>
            </div>
            <div>
              <h3>john west</h3>
              <h4>editor-in-chief</h4>
              <p>Vestibulum id rhoncus nunc. Sed dignissim eros ac elit imperdiet, eu tincidunt odio volutpat. Nulla convallis velit vitae odio ornare, eu elementum nunc venenatis. Suspendisse placerat est ante, non porttitor urna imperdiet at. Praesent dignissim vitae nunc a vestibulum. Integer laoreet ipsum at tempus sollicitudin. Donec ut placerat neque. Sed sagittis elit sit amet ultrices viverra. Curabitur hendrerit lorem non pretium venenatis. Pellentesque lobortis viverra augue in eleifend. Ut rutrum, metus vel efficitur iaculis, odio ligula dapibus mauris, eu fermentum felis leo aliquet nulla. Suspendisse ullamcorper orci id magna congue, vitae blandit ex egestas. Curabitur in eros quis erat porta congue. Praesent nec vehicula lorem, vel euismod tortor.</p>
            </div>
            <div>
              <h3>Etc. Gallery</h3>
              <p>Cras scelerisque semper urna, in suscipit risus fringilla eget. Nulla nec congue nunc. Vivamus id metus tempus, bibendum dui vitae, venenatis erat. Integer finibus libero sit amet commodo finibus. Aliquam erat volutpat. Mauris quis vehicula justo. Mauris varius semper urna, vel sagittis purus suscipit id. Mauris volutpat orci ut enim feugiat accumsan.</p>
            </div>
          </section>
        </article>
      </div>


      <!-- The Header that Persists -->
      <header id="primary-header" class="persist">

        <!-- Project title, and a link back home -->
        <h1 class="project-title">
          <a href="/">Knock at the Gates</a>
        </h1>

        <!-- The Nav -->
        <nav>

          <!-- Twitter -->
          <button class="twitter">
            <svg width="100%" height="100%" viewBox="0 0 48 48">
              <g>
                <path id="twitter_4_" d="M43,0H5C2.25,0,0,2.25,0,5v38c0,2.75,2.25,5,5,5h38c2.75,0,5-2.25,5-5V5C48,2.25,45.75,0,43,0z M38.09,25.457c-0.293,1.559-1.188,3.941-3.799,6.553c-4.549,4.549-11.082,5.541-13.408,5.541s-9.852-0.342-15.049-7.457 c0,0,6.814,6.088,13.654-0.342c-3.23,0.393-3.438-2.506-1.205-2.873c-3.283-0.137-3.83-1.23-4.24-2.189 c-0.41-0.957,1.061-0.992,2.223-1.127c-2.24-0.779-4.078-2.164-3.865-3.602c0.137-0.564,2.053-0.059,1.916-0.471 c-0.137-0.41-3.557-1.914-2.873-4.65c3.078,1.572,8.275,2.461,12.143,6.531c1.195-3.385,3.176-7.781,5.301-8.721 c2.125-0.941,3.898-0.752,4.379,0.205c0.479,0.957-2.941,1.711-2.941,1.711c4.055-0.391,6.891,3.281,7.668,6.725 c1.842,1.088,4.234,0.047,4.234,0.047s-0.514,1.846-3.625,2.121c-0.41,0.137,1.709,0.547,3.898,0.307 C41.361,25.285,39.238,25.477,38.09,25.457z"/>
              </g>
            </svg>
          </button>

          <!-- Facebook -->
          <button class="facebook">
            <svg id="facebook-icon" width="100%" height="100%" viewBox="0 0 48 48">
              <g>
                <path d="M48,5v38c0,2.75-2.25,5-5,5H32V28h6v-6h-6l0.01-3.346c0-1.801,0.604-2.654,3.191-2.654H38V8c0,0-2,0-8,0s-6,6-6,8s0,6,0,6h-4v6h4v20H5c-2.75,0-5-2.25-5-5V5c0-2.75,2.25-5,5-5h38C45.75,0,48,2.25,48,5z"/>
              </g>
            </svg>
          </button>

          <!-- Gear (About) -->
          <button class="gear" data-persist-dropdown="gear-persist-dropdown">
            <svg width="100%" y="100%" viewBox="0 0 200 200">
              <path d="M99.7,200c-6.9,0-13.6-20.9-20-22.5c-7.2-1.9-14-4.7-20.3-8.4c-5.9-3.5-25.4,6.5-30.1,1.7c-4.7-4.7,5.2-24.2,1.8-30
                c-3.8-6.4-6.7-13.3-8.6-20.7C20.8,113.6,0,106.9,0,100c0-6.9,20.8-13.7,22.5-20.1c1.9-7.2,4.7-14.1,8.4-20.4
                c3.5-5.9-6.5-25.4-1.7-30.2c4.7-4.7,24,5.4,29.7,2c6.4-3.8,13.4-6.8,20.8-8.7C86.1,20.9,92.8,0,99.7,0c6.9,0,13.5,20.9,19.9,22.5
                c7.4,1.9,14.5,4.9,20.9,8.7c5.7,3.4,25-6.6,29.7-2c4.8,4.8-5.1,24.3-1.7,30.2c3.7,6.3,6.6,13.2,8.4,20.5c1.6,6.4,22.4,13.1,22.4,20
                c0,6.9-20.8,13.5-22.4,19.9c-1.9,7.3-4.8,14.3-8.5,20.6c-3.4,5.9,6.5,25.4,1.7,30.2c-4.8,4.8-24.3-5.1-30.1-1.7
                c-6.3,3.7-13.1,6.6-20.3,8.4C113.3,179.1,106.6,200,99.7,200z M139.5,100c0-22.1-17.8-40-39.9-40s-39.9,17.9-39.9,40
                s17.8,40,39.9,40S139.5,122.1,139.5,100z"/>
            </svg>
            <div class="dropdown-marker"></div>
          </button>

        </nav>

        <!-- The Gear Dropdown Menu -->
        <ul class="persist-dropdown gear-persist-dropdown">
          <li class="overlay-opener" data-overlay="about-overlay">about this project</li>
          <li class="overlay-opener" data-overlay="biography-overlay">about us</li>
          <a href="http://etc-gallery.com"><li>etc. gallery</li></a>
        </ul>

      </header>


      <!-- The Actual, Navagable Content -->
      <div id="main-content">

        <!-- Welcome, user, to our site -->
        <div id="welcome-panes">
          <div class="pane narration">
            <h1 class="title project-title">Knock&nbsp;at<br>the&nbsp;Gates</h1>
            <h2 class="subtitle project-subtitle">The Death Penalty in the United States</h2>
            <h2 class="byline">By Galen Beebe, Gabe Isman, and John West</h2>
          </div>
          <div class="pane narration"></div>
        </div>

        <!-- The "Last Words" Interlude -->
        <div id="last-words-interlude" class="interlude view-section">
          <div class="pane narration">
            <h3 class="kicker">interlude</h3>
            <h1 class="title">Last Words</h1>
            <h2 class="subtitle">Final statements from the condemned in Texas</h2>
          </div>
          <div class="pane narration">
            <p>Texas keeps a database of the last words of its condemned. The following are the top fifty most common words for their final statements. Clicking on each bubble brings up a representative statement in full.</p>
          </div>
        </div>
      </div>

    </div>
    <script type="text/javascript" src="/main.min.js"></script>

  </body>
</html>
