* { margin: 0; padding: 0; }

h1, h2, h3 { color: #8c7c80; font-family: "Source Sans Pro Black"; font-size: 44px; font-weight: 400; line-height: 1; text-transform: uppercase; }

button { background-color: transparent; border: none; border-radius: 0; cursor: pointer; display: block; font-family: "Source Sans Pro Extra Light"; }
button:focus { outline: none; }

.x { background-image: url("../images/big-x.png"); cursor: pointer; position: absolute; top: 0; right: 44px; width: 100px; height: 100px; }

p, ul li { color: #d2bbc0; font-family: "PT Serif"; font-size: 15px; line-height: 33px; margin-bottom: 33px; }

html, body { background-color: #231f20; overflow: hidden; width: 100%; height: 100%; }

@media all and (max-width: 640px) { .x { background-size: 100% 100%; width: 44px; height: 44px; top: 0; right: 11px; } }
header#primary-header { background-color: black; position: absolute; top: 0; left: 0; -webkit-transition: all 200ms; transition: all 200ms; width: 100%; height: 44px; z-index: 3; }
header#primary-header.blur { -webkit-backface-visibility: hidden; -webkit-perspective: 1000; -webkit-transform: translate3d(0, 0, 0); -webkit-filter: blur(15px); -moz-filter: blur(15px); -ms-filter: blur(15px); -o-filter: blur(15px); filter: blur(15px); }
header#primary-header h1 { color: #8c7c80; font-family: "Source Sans Pro Extra Light"; font-size: 22px; line-height: 44px; margin-left: 44px; text-align: left; text-transform: uppercase; }
header#primary-header h1 a { color: inherit; text-decoration: none; }
header#primary-header nav { position: absolute; top: 0; right: 0; }
header#primary-header nav button { background: transparent; border-radius: 0; border-left: 1px dotted #463e40; float: left; outline: none; position: relative; width: 44px; height: 44px; }
header#primary-header nav button:first-child { border-left: 0; }
header#primary-header nav button:hover .dropdown-marker { border-bottom: 1px solid white; border-left: 1px solid white; }
header#primary-header nav button:hover svg path { fill: white; }
header#primary-header nav button.active .dropdown-marker { transform: rotate(135deg); }
header#primary-header nav button .dropdown-marker { border-bottom: 1px solid #8c7c80; border-left: 1px solid #8c7c80; margin-left: -3px; position: absolute; left: 50%; bottom: 6.5px; transform: rotate(-45deg); width: 4px; height: 4px; transition: transform 200ms; }
header#primary-header nav button svg { position: absolute; top: 14px; left: 14px; width: 16px; height: 16px; }
header#primary-header nav button svg path { fill: #8c7c80; }
header#primary-header ul.persist-dropdown { overflow: hidden; position: absolute; top: 44px; width: 320px; height: 0; z-index: 3; transition: all 200ms; }
header#primary-header ul.persist-dropdown.gear-persist-dropdown { left: auto; right: 0; }
header#primary-header ul.persist-dropdown.gear-persist-dropdown.active { height: 181px; }
header#primary-header ul.persist-dropdown a { color: inherit; text-decoration: none; }
header#primary-header ul.persist-dropdown a:last-child li { border-bottom: none; }
header#primary-header ul.persist-dropdown li { background-color: rgba(255, 255, 255, 0.85); border-bottom: 1px dotted black; color: #231f20; cursor: pointer; font-family: "Source Sans Pro Extra Light"; font-size: 11px; letter-spacing: 2px; line-height: 44px; list-style: none; margin-bottom: 0; padding: 0 22px; text-decoration: none; text-transform: uppercase; width: 276px; height: 44px; }
header#primary-header ul.persist-dropdown li:hover { background-color: rgba(255, 255, 255, 0.95); }

@media all and (max-width: 640px) { header#primary-header h1 { font-size: 14.66667px; margin-left: 11px; } }
#overlays { background-color: rgba(255, 255, 255, 0.55); position: absolute; top: -100%; left: 0; -webkit-transition: all 200ms; transition: all 200ms; width: 100%; height: 100%; z-index: 10; }
#overlays.active { top: 0; }
#overlays .x { position: absolute; top: 88px; z-index: 2; }
#overlays .overlay { display: none; position: absolute; overflow-x: hidden; overflow-y: scroll; -webkit-overflow-scrolling: touch; top: 0; left: 0; width: 100%; height: 100%; }
#overlays .overlay.active { display: block; }
#overlays .overlay header.overlay-header { margin-left: 44px; }
#overlays .overlay header.overlay-header h1 { color: #463e40; font-size: 88px; padding-top: 88px; }
#overlays .overlay section { margin-top: 88px; margin-left: 44px; }
#overlays .overlay section h2 { color: #463e40; margin-bottom: 44px; }
#overlays .overlay section p { color: #463e40; max-width: 600px; width: 90%; }
#overlays .overlay section h3 { color: #00b3ff; font-size: 22px; margin-top: 44px; max-width: 600px; width: 90%; }
#overlays .overlay section h4 { color: #463e40; font-family: "Source Sans Pro Extra Light"; font-size: 14.66667px; text-transform: uppercase; max-width: 600px; width: 90%; }

@media all and (max-width: 640px) { #overlays .x { top: 11px; right: 11px; }
  #overlays .overlay header.overlay-header { margin-left: 11px; }
  #overlays .overlay header.overlay-header h1 { font-size: 44px; padding-top: 44px; }
  #overlays .overlay section { margin-top: 44px; margin-left: 11px; } }
.words-overlay { background-color: rgba(255, 255, 255, 0.55); cursor: pointer; overflow: hidden; position: fixed; top: -100%; left: 0; width: 100%; height: 100%; z-index: 3; -webkit-transition: all 200ms; transition: all 200ms; }
.words-overlay.active { top: 0; }
.words-overlay .words { margin-top: 44px; margin-left: 44px; padding-right: 22px; padding-bottom: 22px; overflow-y: scroll; max-width: 600px; width: 90%; height: 100%; }
.words-overlay .words h1 { color: #00b3ff; font-size: 44px; margin-bottom: 44px; text-transform: uppercase; }
.words-overlay .words br { height: 33px; }
.words-overlay .words p { color: #231f20; margin-bottom: 0; padding-bottom: 88px; width: 100%; }

svg g.bubble-wrapper { cursor: pointer; }
svg g.bubble-wrapper circle { fill: #463e40; transition: all 500ms; }
svg g.bubble-wrapper.active circle, svg g.bubble-wrapper:hover circle { fill: #00b3ff; }
svg g.bubble-wrapper.active.parent circle, svg g.bubble-wrapper:hover.parent circle { fill: none; }
svg g.bubble-wrapper text { fill: white; font-family: "Source Sans Pro Extra Light"; font-weight: 400; letter-spacing: 1px; text-anchor: middle; text-transform: uppercase; }
svg g.bubble-wrapper.parent circle { fill: none; }
svg g.bubble-wrapper.parent circle:hover { fill: none; }

@media all and (max-width: 640px) { .words-overlay .words { margin-left: 11px; }
  svg text { letter-spacing: 0px; } }
#main-content { background-color: #231f20; overflow-y: scroll; overflow-x: hidden; position: absolute; left: 0; width: 100%; height: 100%; -webkit-transition: background-color 1s; transition: background-color 1s; -webkit-overflow-scrolling: touch; }
#main-content.blur { -webkit-backface-visibility: hidden; -webkit-perspective: 1000; -webkit-transform: translate3d(0, 0, 0); -webkit-filter: blur(15px); -moz-filter: blur(15px); -ms-filter: blur(15px); -o-filter: blur(15px); filter: blur(15px); }

ul#names-wrapper { position: absolute; top: 44px; left: -10%; width: 120%; height: auto; }
ul#names-wrapper li.name { color: #463e40; display: block; float: left; font-family: "Source Sans Pro Extra Light"; font-size: 22px; line-height: 22px; margin-top: 0; margin-bottom: 0; margin-right: 22px; opacity: 0.5; position: relative; text-transform: uppercase; width: auto; height: 22px; }

.interlude { clear: both; position: relative; opacity: 1; -webkit-transition: opacity 500ms; transition: opacity 500ms; }
.interlude .x { display: none; top: 44px; right: 44px; z-index: 2; }
.interlude .pane { z-index: 1; }
.interlude .interactive { opacity: 0.25; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; }
.interlude.active .x { display: block; }
.interlude.active .interactive { opacity: 1; }
.interlude.active .pane { opacity: 0; z-index: 0; }

#welcome-panes { overflow: hidden; width: 100%; }

.pane { clear: both; display: block; position: relative; width: 100%; }
.pane.narration { -webkit-transition: all 200ms; transition: all 200ms; z-index: 1; }
.pane.narration .cta { border: 1px solid #00b3ff; color: #00b3ff; font-family: "Source Sans Pro Extra Light"; font-size: 11px; position: absolute; bottom: 88px; left: 44px; text-transform: uppercase; width: 132px; height: 44px; }
.pane.narration h1, .pane.narration h2, .pane.narration h3 { margin-left: 44px; position: absolute; }
.pane.narration h2.byline { color: #00b3ff; font-family: "Source Sans Pro Extra Light"; font-size: 22px; top: auto; bottom: 44px; }
.pane.narration p { color: #8c7c80; font-family: "Source Sans Pro Black"; font-size: 33px; line-height: 44px; margin-top: 100px; margin-left: 44px; width: 800px; }
.pane.narration h1.title { font-size: 88px; top: 88px; }
.pane.narration h1.title.project-title { color: transparent; line-height: 100%; letter-spacing: 0; margin-top: -110px; top: 50%; text-align: left; text-shadow: 0px 0px 0px #8c7c80; width: 100%; }
.pane.narration h2.subtitle { color: #463e40; font-family: "Source Sans Pro Extra Light"; font-size: 22px; position: absolute; top: 44px; }
.pane.narration h2.subtitle.project-subtitle { color: #00b3ff; margin-top: 88px; top: 50%; }
.pane.narration h3.kicker { color: #00b3ff; font-size: 14.66667px; position: absolute; top: 44px; }
.pane.narration header { padding-top: 88px; position: relative; }
.pane.narration header h1.title, .pane.narration header h2.subtitle, .pane.narration header h3.kicker { position: static; }

@media all and (max-width: 640px) { .interlude .x { right: 11px; }
  ul#names-wrapper li.name { font-size: 11px; line-height: 11px; margin-right: 11px; height: 11px; }
  .pane.narration .cta { bottom: 22px; left: 11px; }
  .pane.narration h1, .pane.narration h2, .pane.narration h3, .pane.narration p { margin-left: 11px; }
  .pane.narration h1.title { font-size: 44px; }
  .pane.narration h1.title.project-title { margin-top: 44px; top: 88px; width: 100%; }
  .pane.narration h2.subtitle { font-size: 14.66667px; }
  .pane.narration h2.subtitle.project-subtitle { top: 176px; }
  .pane.narration h2.byline { font-size: 14.66667px; }
  .pane.narration p { font-size: 14.66667px; line-height: 29.33333px; margin-top: 50px; padding-right: 11px; width: auto; } }
